.Logo {
    width: 130px;
    height: auto;
    margin-left: 10px;
}
.user-img {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.car-img {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

header div {
    width: 100%;
    background-color: #ffbca4;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
}

.item {
    float: left;
}

.item-right {
    float: right;
    justify-content: right;
    align-content: center;
}

header ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.main {
    margin: 77px auto 300px auto;
}

main ul{
    list-style: none;
    display: flex;
    margin-left: 20px;

}

main div.options {
    width: 100%;
    height: 60px;
    background-color: darkgray;
    float: right;
    left: 0;
    right: 0;
}

.text-cat {
    margin-right: 50px;
}

.text-nosotros {
    margin-right: 50px;
}

.option-left {
    float: left;
}

.facebook {
    width: 30px;
    height: auto;
    margin-right: 50px;
}

.instagram {
    width: 30px;
    height: auto;
    margin-right: 50px;
}

.youtube {
    width: 30px;
    height: auto;
    margin-right: 50px;
}
.red-social {
    float: right;
    align-content: center;
}

